/* styles */
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Times", "Times New Roman", "serif-sans";
}

/* Header */

header{
  position: relative;
  z-index: 999;
  width: 100%;
}

nav{
  background-color: #3d5a80;
  position: relative;
}
.toggle{
  display: none;
}

label span{
  background-color:#fca311;
  font-size: 2em;
  padding: 1%;
  cursor: pointer;
}

nav ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  display:none;
}

nav ul li{
  font-size: 2rem;
  padding-top:3%;
  list-style-type: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a:hover{
    color: #0e387a;
}

.toggle:checked ~ ul{
  display:block;
}
/* page background */
body{
	background-color: #F2EEE4;
}   

/* All site images  */
img{
    max-width: 100%;
    border-radius: 5%;
}

/* Font size */
p{
    font-size: 1rem;
    margin: 1em 2em;
}

/* Heading 2 styles  */
h2{
    color: #0e387a ;
    text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px;
}

/*icon img picture links*/
#icon{
    display: flex;
    justify-content:space-evenly;
  }

  #token1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  #token2{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  #token3{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
/* Footer links */
  #icon2{
    display: flex;
    justify-content: center;
  }
#facebk{
    height: 40px;
    width: 40px;
}

#insta{
    height: 40px;
    width: 40px;
}

#pinte{
    height: 40px;
    width: 40px;
}

/* Icon size when on different views  */
.responsive{
    max-width: 100%;
    height: auto;
}

/* Footer backgound color */
  .footer{
    background: linear-gradient(to bottom, #0e387a  0%, #000000  100%);
    color:whitesmoke; 
  }

/* Footer text  */
.footer{
    font-size:20px;
    letter-spacing:0.5px;
    text-align: center;
    padding-bottom: 0%;
}

 /*map*/
 #map{
    display: flex;
    justify-content:center;
  }
  
#map{
max-width: 100%;
height: auto;
}

#hero{
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* Media Queries */
/* @media screen and (max-width:480px){
    #icon{
        display: flex;
        flex-direction: column;
    }  
} */

@media screen and (min-width: 1024px){
  label span{
    display:none;
  }
nav ul{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  height:10vh;
}
nav ul li{
  max-width: 30%;
  margin-top: -2%; 
  margin-right: 5%;
  padding-bottom: 2%;
}

}