/* reset styles */
*{
    margin: 0;
    padding: 0%;
    font-family: "Times", "Times New Roman", "serif-sans";
}

/* page background */
body{
	background-color: #F2EEE4;}
    
/* Nav hamburger items  */
.navbar{
    max-width: 100%;
    display: flex;
    align-items: center;
}
/* Logo size and position */
.logo{
    max-width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    max-width: 30px;
    cursor: pointer;
}

nav{
    flex: -1;
    text-align: left;
}
/* Styles for nav items */
nav ul li{
    list-style:none;
    display:inline-block;
    margin-left:30px;
}
/* Nav font size */
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;

}
/* Nav hover color options */
nav ul li a:hover{
    color:blue;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0;
}
/* Heading 2 styles  */
h2{
    color: #0e387a ;
    text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 5px;
}

/*icon img picture links*/
#icon{
    display: flex;
    justify-content:space-evenly;
  }

  #token1{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  #token2{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  #token3{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  #icon2{
    display: flex;
    justify-content: center;
  }
#token4{
    height: 40px;
    width: 40px;
}

#token5{
    height: 40px;
    width: 40px;
}

#token6{
    height: 40px;
    width: 40px;
}

/* Footer backgound color */
  .footer{
    background: linear-gradient(to bottom, #0e387a  0%, #000000  100%);
    color:whitesmoke; 
  }

/* Footer text  */
.footer{
    font-size:20px;
    letter-spacing:0.5px;
    text-align: center;
    padding-bottom: 0%;
}

 /*map*/
 #map{
    display: flex;
    justify-content:center;
  }
  
#map{
max-width: 100%;
height: auto;
}

#hero{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.wrapper{
    margin: 0 auto;
}
/* Media Queries */
@media screen and (max-width:480px){
    #icon{
        display: flex;
        flex-direction: column;
    }
    #token{
        
    }
}